.proofContainer {
    width: 100vw;
    margin-top: 5em;

    .proofWrapper {
        width: 85vw;
        display: flex;
        flex-direction: column;
        margin: auto;
        justify-content: center;
        align-items: center;
        gap: 5em;

        .proofBannerHeading {
            text-align: center;
        }

        .reviewGroup {
            
            .reviews {
                width: 80vw;
                display: flex;
                margin: auto;
                gap: 2em;

                .review {
                    border: 1px solid var(--accent);
                    width: 33%;
                    padding: 1em;

                    .reviewTop {
                        display: flex;
                        align-items: center;
                        gap: 1em;

                        .reviewTopLeft {
                            width: 75px;
                            height: 75px;
                            display: flex;
                            justify-content: space-between;
                        }

                        .reviewTopMiddle {
                            display: flex;
                            flex-direction: column;
                            flex: 1;
                            padding: 1em;

                            .reviewRating {
                                display: flex;
                                gap: 1em;
                            }

                            .MuiSvgIcon-root {
                                background: var(--primary);
                            }

                            .reviewTopRightMobile {
                                 display: none;
                            }
                         }

                        .owner {
                            font-weight: 700;
                        }

                        .italics {
                            font-style: italic;
                            font-weight: 100;
                            font-size: 0.9rem;
                        }

                        a {
                            color: var(--link );
                            text-decoration: none;

                            :hover {
                                color: var(--primary);
                            }
                        }

                        .reviewTopRight {
                            display: flex;
                            flex-direction: column;
                            gap: 1em;

                            p {
                                color: var(--accent2);
                            }
                        }

                    }

                    .reviewContent {
                        border-top: 1px solid var(--accent);
                        padding: 1em;
                        line-height: 1.5;
                    }
                }

                .review:hover {
                    
                }
            }


        }
    }
}

// media queries

@media screen and (max-width:1780px) {
    .proofContainer .proofWrapper .reviewGroup .reviews {
        flex-direction: column;

        .review {
            width: 100%;

        }
    }
}

@media screen and (max-width:777px) {
    .proofContainer .proofWrapper {
        gap: 0;
    }

    .proofContainer .proofWrapper .proofBanner .proofBannerItems {
        display: flex;
        margin: auto;
        justify-content: center;
        gap: 2em;

        img {
            width: 15%; 
            height: auto;
            object-fit: contain;
        }
    }
}

@media screen and (max-width:571px) {
    .proofContainer .proofWrapper .reviewGroup .reviews .review .reviewTop {
        flex-direction: column;

        .reviewTopRight {
            display: none;
        }

        .reviewTopMiddle {
            width: 100%;

            .reviewRating {
                margin: auto;
                gap: 0;
            }
        }

        .reviewTopLeft {
            display: flex;
            justify-content: center;
        }

        .reviewTopMiddle .reviewMobile {
            display: flex;
            align-items: center;
            justify-content: space-around;

            .reviewTopRightMobile {
                display: flex;
                align-items: center;
                gap: 1em;

                .MuiSvgIcon-root {
                    background: none;
                }

                p {
                    color: var(--accent2);
                }
            }
        }
    }

}